.header-unri {
  width: 100%;
  height: 3rem;
  background-color: #510400;
}
.header-unri ul {
  display: flex;
  margin-left: 50rem;
  margin-right: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}
.header-unri ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-unri ul .btn-pendaftaran {
  height: 100%;
  background-color: #fbad50;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header-unri ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: large;
  font-weight: 500;
}

.navbar-unri {
  width: 100%;
  height: 5.5rem;
  background-color: #f7f7f7;
}

.navbar-unri ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  height: 100%;
}

.navbar-unri ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
}
.logo-box {
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  margin-top: -45px;
}

.logo-box img {
  width: 5.5rem;
}
